:root {
  --text-color: rgb(95, 131, 244);
  --bagroung-color: rgb(254, 255, 254);
  --shadow-color: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
